.container {
    background-color: rgb(75, 32, 112);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 18px black;
    color: black; /* color de la letra ver */
}

.container img {
    width: 200px;
    box-shadow: 0 10px 18px black;
    border-radius: 5px;
}

.container button{
    background-color: rgb(59, 114, 231);
    margin: 10px;
    &:hover {
        background-color: rgb(34, 89, 207);
    }
}

.container h2 {
    color: rgb(121, 110, 10);
}